.header-div {
    
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    margin-bottom: 10px;
    
    padding: 6px;
    overflow: hidden;
    height: 9%;
    min-height: 80px;
    
}


.heading {
    font-family: "Pocket Money", Times, serif;
    display: inline-block;
    font-size: 40pt;
}

.top-nav {
    width: 100%;
    padding: 10px;
}

.link {

    border: 2px solid black;
    float: right;
    margin: 10px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.link > span {
    padding: 10px;
}

.link:hover{
    background-color: rgb(211, 210, 210);
}

.button {
    
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.grid-container {
    display: grid;
    
}

@keyframes view {
   from {
    height: 9%;
   }
   to{
    height: 43%;
   }
}

.open{
    animation-name: view;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.grid-item {
    
    width: 100%;
    border-radius: 15px;
    padding: 1px;
    background-color: white;
    border: 2px solid white;
}


.grid-item:focus {
    border-color:black;
    
}


@media (min-width: 900px) {
    .grid-item {
        grid-row: 1;
        padding-top: 15px; 
    }
    .open {
        animation-fill-mode: backwards;
    }
    .grid-container {
        width: min(40%, 20vw);
        grid-gap: 5%;
    }
    .link{
        display: none;
    }
    .top-nav{
        grid-row: 1;
    }

}


.grid-item  a,
a:active,
a:hover
{
    text-decoration: none;
    color: black;
}


.header-btn{
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: 600;
    font-family:  "Be Vietnam Pro", Arial,sans-serif;
    border-radius: 32px;
}


.active {
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: 600;
    font-family:  "Be Vietnam Pro", Arial,sans-serif;
    border-radius: 32px;
    background-color: rgb(238, 116, 116);
}

.active:hover {
    background-color: rgb(235, 91, 91);
}



.header-btn:hover {
    background-color: rgb(245, 224, 224);
}

