textarea {
    min-height: 400px;
}


.info-div {
    border: 1px solid black;
    margin: 5px 0;
    cursor: pointer;
    background-color: white;
}


.info-div > p {
    display: inline-block;
}

.grey {
    background-color: grey;
}


