.logindiv{
    display: flex;
    margin: auto auto;

    justify-content: center;
    align-items: center;

    flex-direction: column;
    width: fit-content;
    height: 99vh;
    
}


.img {
    height: min(475px,40vw);
    width: min(475px,40vw);
    margin-right: 50px;
    transform: translateX(-100%);
    transition: all 1s;
}


.animate {
    transform: translateX(0);
}



@media (max-width: 1012px) {
    .img {
        display: none;
    }

    .logindiv{
        width: 100%;
    }
    
    

}



@media (max-width: 532px) {
    .loginformdiv {
        width: 100%;
        height: 100%; 
        padding: 10px 0 10px 0;
    }

    .loginformdiv > form > label {
        width: 90%;
    }

    .logindiv > p {
        font-size: 2rem !important;
    }

}



.logindiv > p {
    font-size: 3rem;
    color: #11817a;
    font-weight: bold;
   
	
}





.loginformdiv{
    display: flex;
    justify-content: center;
}

.loginformdiv > p {
    font-size: 3rem;
    color: #11817a;
    font-weight: bold;
   
}